<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.hotel.data.order.OrderMapper">

    <select id="getAllOrders" resultMap="Order">
        select * from OrderList
    </select>
    <select id="getUserOrders" resultMap="Order">
        select * from OrderList where userId=#{userId}
    </select>
    <insert id="addOrder" parameterType="com.example.hotel.po.Order" useGeneratedKeys="true" keyProperty="id">
        insert into OrderList(userId,hotelId,hotelName,checkInDate,checkOutDate,roomType,roomNum,peopleNum,haveChild,createDate,price,clientName,phoneNumber,orderState)
        values(#{userId},#{hotelId},#{hotelName},#{checkInDate},#{checkOutDate},#{roomType},#{roomNum},#{peopleNum},#{haveChild},#{createDate},#{price},#{clientName},#{phoneNumber},#{orderState})
    </insert>
    <select id="getOrderById" resultMap="Order">
        select * from OrderList where id=#{orderId}    <!--我用到啦 by cyz-->  <!--我看到啦 by barney-->
    </select>

    <select id="getHotelAllOrders" resultMap="Order">
        select * from OrderList where hotelId=#{hotelId}
    </select>
    <select id="getManagerOrders" resultType="com.example.hotel.po.Order">
        select * from OrderList where OrderList.hotelId in (select Hotel.id from Hotel where Hotel.manager_id=#{managerId})
    </select>

    <update id="updateOrderState">
        update OrderList set orderState=#{state} where id=#{orderId}        <!--传进来orderId-->
    </update>

    <select id="getOrderNumByDate" resultType="java.lang.Integer">
        select SUM(roomNum) from OrderList where (hotelId=#{hotelId} and roomType=#{roomType} and STRCMP(checkInDate,#{date}) <![CDATA[<=]]> 0 and STRCMP(checkOutDate,#{date}) <![CDATA[>]]> 0 and (orderState="Ordered" or orderState="Executed" or orderState="Exception"))
    </select>


    <resultMap id="Order" type="com.example.hotel.po.Order">
    </resultMap>
</mapper>