<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.example.hotel.data.hotel.RoomMapper">

    <insert id="insertRoom" parameterType="com.example.hotel.po.HotelRoom"
    useGeneratedKeys="true" keyProperty="id">
        insert into Room(roomType,price,total,hotel_id)
        values (#{roomType},#{price},#{total},#{hotelId})
    </insert>
    <update id="updateRoomInfo" parameterType="com.example.hotel.vo.RoomVO">
        update Room set total = #{total} , price = #{price} where id = #{id}
    </update>
    <delete id="deleteRoomById">
        delete from Room where id = #{roomId}
    </delete>

    <select id="selectRoomsByHotelId" resultMap="room">
        select * from Room where hotel_id=#{hotelId}
    </select>



    <resultMap id="room" type="com.example.hotel.po.HotelRoom">
        <id column="id" property="id"></id>
        <result column="roomType" property="roomType"></result>
        <result column="price" property="price"></result>
        <result column="total" property="total"></result>
        <result column="hotel_id" property="hotelId"></result>
    </resultMap>


</mapper>